@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--main-purple: #635fc7;
	--main-purple-secondary: #635fc71a;
	--main-purple-secondary-hover: #635fc71a;
	--main-purple-hover: #a8a4ff;

	--red: #ea5555;
	--red-hover: #ff9898;
	--dark-grey: #2b2c37;
	--medium-grey: #828fa3;

	--background: #f4f7fd;
	--lines: #e4ebfa;
	--text: #000112;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #20212c;
		--lines-dark: #3e3f4e;
		--text: #fff;
	}
}

body {
	background: var(--background);
	font-family: Plus Jakarta Sans;
}

main {
	height: 100vh;
}

/* ====== Typography ====== */
.heading_xl {
	color: var(--text);

	/* Heading (XL) */
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}
.heading_l {
	color: var(--text);

	/* Heading (L) */
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
}
.heading_m {
	color: var(--text);

	/* Heading (M) */
	font-size: 15px;
	font-weight: 700;
	line-height: normal;
}
.heading_s {
	color: var(--medium-grey);

	/* Heading (S) */
	font-size: 12px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.4px;
}
.text_medium {
	color: var(--dark-grey);

	/* Body (L) */
	font-size: 13px;
	font-weight: 500;
	line-height: 23px; /* 176.923% */
}
.text_bold {
	color: var(--dark-grey);

	/* Body (M) */
	font-size: 12px;
	font-weight: 700;
	line-height: normal;
}

/* ====== Interactive Elements ====== */
.button_primary_l {
	border-radius: 24px;
	background: var(--main-purple);
	color: #fff;
	padding: 16px 32px;
	text-align: center;

	/* Heading (M) */
	font-size: 15px;
	font-weight: 700;
	line-height: normal;
}
.button_primary_s {
	border-radius: 24px;
	background: var(--main-purple);
	color: #fff;
	padding: 8px 24px;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	line-height: 23px; /* 176.923% */
}
.button_primary_s:hover,
.button_primary_l:hover {
	background-color: var(--main-purple-hover);
}

.button_secondary {
	border-radius: 20px;
	background: var(--main-purple-secondary);
	padding: 8px 24px;

	color: var(--main-purple);
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	line-height: 23px; /* 176.923% */
}
.button_secondary:hover {
	background: var(--main-purple-secondary-hover);
}
.button_desctructive {
	border-radius: 20px;
	background: var(--red);
	color: #fff;
	text-align: center;
	padding: 8px 24px;

	font-size: 13px;
	font-weight: 700;
	line-height: 23px; /* 176.923% */
}
.button_desctructive:hover {
	background-color: var(--red-hover);
}

.form_group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.form_group label {
	color: var(--medium-grey);

	font-size: 12px;
	font-weight: 700;
	line-height: normal;
}
.form_group input {
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #828fa340;
	padding: 8px 16px;
}
.form_group input::placeholder {
	color: var(--text);

	/* Body (L) */
	font-size: 13px;
	font-weight: 500;
	line-height: 23px; /* 176.923% */
	opacity: 0.25;
}
.form_group input:active {
	border: 1px solid #828fa340;
	color: var(--text);
}
.form_group.has_error input {
	border: 1px solid var(--red);
}
.form_group select {
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #828fa340;
	padding: 8px 16px;

	color: var(--text);

	/* Body (L) */
	font-size: 13px;
	font-weight: 500;
	line-height: 23px; /* 176.923% */
}

.board_name a {
	border-radius: 0px 100px 100px 0px;
}
.board_name.active a {
	background-color: var(--main-purple);
}
.board_name:hover a {
	background: #fff;
	color: var(--main-purple);
}

.create_new {
	color: var(--main-purple);
}
.toggle_theme {
	background-color: var(--background);
	padding: 8px 12px;
	width: 100%;
}

.left_menu,
.top_nav {
	background-color: var(--dark-grey);
}

.backdrop {
	opacity: 0.5;
	background: #000;
}

.main_content {
	height: calc(100vh - 80px);
	overflow: auto;
}
.task_col {
	border-radius: 8px;
	background: var(--Dark-Grey, #2b2c37);
	box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 280px;
}
.task_col .text_medium {
	color: var(--medium-grey);
}

.column_dot {
	display: block;
	width: 16px;
	height: 16px;
	background-color: #49c4e5;
	border-radius: 50%;
}
.columns_grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 280px);
}
